apiVersion: v1
kind: Service
metadata:
  name: drycc-storage
  annotations:
    prometheus.io/path: /metrics
    prometheus.io/port: "9200"
    prometheus.io/scrape: "true"
    {{- with .Values.service.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    heritage: drycc
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    app: drycc-storage
  ports:
  - name: api
    port: 9000
  - name: console
    port: 9001
  - name: metrics
    port: 9200
