imageOrg: "drycc"
imagePullPolicy: "Always"
imageTag: "canary"
imageRegistry: "registry.drycc.cc"

resources: {}
  # limits:
  #   cpu: 200m
  #   memory: 50Mi
  # requests:
  #   cpu: 100m
  #   memory: 30Mi

# The following parameters are configured only when using an on-cluster object storage instance
nodeAffinityPreset:
  key: "drycc.cc/node"
  type: "soft"
  values:
  - "true"
podAffinityPreset:
  type: ""
  extraMatchLabels:
    security: "drycc-security"
podAntiAffinityPreset:
  type: "soft"
  extraMatchLabels:
    app: "drycc-storage"

# Number of replicas per zone
replicas: 4
# Object storage zone count
zones: 1
# Device count of per replica
drivesPerNode: 1

# Access key and secret key for storage
accesskey: ""
secretkey: ""

# Service
service:
  # Provide any additional service annotations
  annotations: {}

persistence:
  enabled: false
  size: 5Gi
  storageClass: ""
